**1. Classification avec KNN**

**1.1. Charger les données d'apprentissage**

In [1]:
import pandas as pd

Les données d'entrée d'apprentissage

In [2]:
X_train=pd.DataFrame([[1200,25],
                 [1300,27],
                 [1100,27],
                 [2500,49],
                 [2400,47],
                 [2600,45]], 
                 columns=['salaire','age'])

Les données de sortie d'apprentissage

In [3]:
y_train=pd.Series(['junior','junior','junior','senior','senior','senior'])

**1.2. Apprentissage avec KNN**

In [4]:
from sklearn.neighbors  import KNeighborsClassifier

knn=KNeighborsClassifier(n_neighbors=2)
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=2)

**1.3. Charger les données de test**

Les données d'entrée de test

In [5]:
X_test=pd.DataFrame([[1000,24],
                 [1350,29],
                 [2100,42],
                 [2300,44]], 
                 columns=['salaire','age'])

Les données de sortie de test

In [6]:
y_test=pd.Series(['junior','junior','senior','senior'])

**1.4. Evaluation de KNN**

Prédiction des données de test

In [7]:
y_test_predicted=knn.predict(X_test)
y_test_predicted

array(['junior', 'junior', 'senior', 'senior'], dtype=object)

In [8]:
y_test

0    junior
1    junior
2    senior
3    senior
dtype: object

Score d'accuracy

In [9]:
from sklearn.metrics import accuracy_score

print("accuracy=%.2f" % (accuracy_score(y_test, y_test_predicted)*100))

accuracy=100.00

Matrice de confusion

In [10]:
from sklearn.metrics import accuracy_score, confusion_matrix

M=confusion_matrix(y_test, y_test_predicted)
M

array([[2, 0],
       [0, 2]])

In [11]:
pd.DataFrame(M,
             index=knn.classes_,
             columns=knn.classes_)

        junior  senior
junior       2       0
senior       0       2

Rappel (Recall) et précision apr classe

In [12]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_test_predicted))

              precision    recall  f1-score   support

      junior       1.00      1.00      1.00         2
      senior       1.00      1.00      1.00         2

    accuracy                           1.00         4
   macro avg       1.00      1.00      1.00         4
weighted avg       1.00      1.00      1.00         4

**2. Classification des données réelles (tabulaires)**

**2.1. Charger les données employes2.csv à partir de Google Drive**

In [18]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [19]:
# Précisier le chemin de fichier CSV et le nommer data_path
#

In [20]:
# lire le fichier CSV et charger les données en dataframe df_employes
#

          salaire    prime   etat civil date recrutement  classe
nom
Ali      1200.675  100.560  celibataire       20/10/2018  junior
Sonia    2800.786  400.876        marie       30/11/2005  senior
Rahma         NaN  130.987  celibataire       04/02/2017  junior
Salma    2500.876  340.600        marie       03/02/2010  senior
Ahmed    3100.760      NaN        marie       09/09/2004  senior
Saleh    1300.876  150.900  celibataire       01/01/2017  junior
Ameni    1100.660  130.870  celibataire       11/05/2019  junior
Mehdi    3000.760      NaN        marie       07/07/2000  senior
Salem    1505.760  159.700  celibataire       21/11/2017  junior
Sameh    2700.330  400.000        marie       19/02/1999  senior
Wajdi    1200.980      NaN  celibataire       27/11/2015  junior
Moufida  3700.440  500.000        marie       09/12/1991  senior

**2.2. Division des données en entrée et sortie**

Données d'entrée X

C'est la partie de dataframe composée de toutes les colonnes sauf la dernière colonne 'classe'

In [23]:
#

          salaire    prime   etat civil date recrutement
nom
Ali      1200.675  100.560  celibataire       20/10/2018
Sonia    2800.786  400.876        marie       30/11/2005
Rahma         NaN  130.987  celibataire       04/02/2017
Salma    2500.876  340.600        marie       03/02/2010
Ahmed    3100.760      NaN        marie       09/09/2004
Saleh    1300.876  150.900  celibataire       01/01/2017
Ameni    1100.660  130.870  celibataire       11/05/2019
Mehdi    3000.760      NaN        marie       07/07/2000
Salem    1505.760  159.700  celibataire       21/11/2017
Sameh    2700.330  400.000        marie       19/02/1999
Wajdi    1200.980      NaN  celibataire       27/11/2015
Moufida  3700.440  500.000        marie       09/12/1991

Données de sortie y

C'est la dernière colonne 'classe' de df_employes

In [21]:
#

nom
Ali        junior
Sonia      senior
Rahma      junior
Salma      senior
Ahmed      senior
Saleh      junior
Ameni      junior
Mehdi      senior
Salem      junior
Sameh      senior
Wajdi      junior
Moufida    senior
Name: classe, dtype: object

**2.3. Division des données en train**

Les données sont divisées en train (60%) et test (40%)

Diviser X en X_train et X_test

Diviser y en y_train et y_test

Note : 
- Utiliser la fonction train_test_split() du module sklearn.model_selection
- Précisier le paramètre train_size = 60% des données
- Précisier le paramètre stratify  qui prend y. Il permet de garantir la même répartition entre train et test (en terme des échantillons/classe)

In [24]:
#

**2.4 Transformation des données d'apprentissage d'entrée de format brute en format numérique**

Les données d'apprentissage d'entrée ont des types hétérogènes et non numériques. Ainsi, elles sont pas pêtes pour l'apprentissage du modèle de classifieur.

Cette étape consiste à transformer les données d'apprentissage en format nuémrique comme suit :
- Créer une copie de dataframe des données d'entrée d'apprentissage sur laquelle on applique le reste de travail
- Remplir les valeurs manquantes
- Remplacer le salaire et le prime par le revenue (revenue=salaire+prime)
- Remplacer la date de recrutement par l'ancienneté de l'employé
- Remplacer les valeurs discrètes de l'état civil par leurs codes binaires OHE

In [ ]:
# Créer une copie des données d'entrée d'apprentissage (X_train) en X_
X_train_=X_train.copy()
# la transformation de X_train_
# ....
X_train_

         revenue  anciennete  etat civil_celibataire  etat civil_marie
nom
Sonia  3201.6620          17                     0.0               1.0
Ameni  1231.5300           3                     1.0               0.0
Salem  1665.4600           5                     1.0               0.0
Rahma  2415.8490           5                     1.0               0.0
Ahmed  3361.2655          18                     0.0               1.0
Sameh  3100.3300          23                     0.0               1.0
Salma  2841.4760          12                     0.0               1.0

**2.5. Post-traitement des données d'apprentissage**

Normalisation des données d'apprentissage d'entrée 

La normalisation de X_train_ donne lieu à X_train_ss

In [ ]:
#

Réduction de dimension des données d'apprentissage d'entrée

La réduction de dimension de X_train_ss donne lieu à X_train_pca

In [ ]:
#

**2.6. Apprentissage avec KNN**

Pour appliquer KNN, importer la classe KNeighborsClassifier du module sklearn.neighbors.

Créer une instance et précisier l'hyperparamètre n_neighbors=2

Appeler la fonction fit() et passer X_train_pca et y_train

In [ ]:
#

**2.7. Traitement des données de test**

Appliquer le même traitement fait sur les données d'apprentissage d'entrée (transformation en format numérique et  post-traitement)

In [ ]:
# Transformation des données de test
# Créer une copie des données d'entrée d'apprentissage (X_train) en X_
X_test_=X_test.copy()
# ...
X_test_

Normaliser et réduire la dimension des données de test

In [ ]:
#
X_test_pca

**2.8. Evaluation de classifieur avec les données de test**

Prédiction des données de test

In [ ]:
#
y_test_predicted

array(['senior', 'junior', 'junior', 'junior', 'senior'], dtype=object)

Score d'accuracy

In [ ]:
#

accuracy=100.00

Matrice de confusion

In [ ]:
#

array([[3, 0],
       [0, 2]])

Rappel et pércision

In [ ]:
#

**2.9. Visualisation des données**

In [ ]:
classe_junior=#
classe_senior=#

In [ ]:
#