**Variables**

In [8]:
x=10
type(x)

int

In [9]:
x=10.
type(x)

float

In [12]:
x='Hello \"World\"'
type(x)

str

In [13]:
humidity=True
type(humidity)

bool

**Operators**

In [15]:
x=10
y=20
z=x+y
z=x/y  # real division
z=x//y # euclidean division
z=x%y  # remainder
z=x**y # power

In [19]:
x= 10<3 and 3>4

False

In [20]:
humidity=True
not humidity

False

In [24]:
s='hello'

len(s) # length of string

s[0] # first character

s[4] # last character = len(s)-1

s[-1] # last character

s[-5] # first character

s[1:3] # 2nd and 3rd character

s[1:] # 2nd to last character

s[:3] # first to 3rd character

s[::-1] # reverse string

s[3:1] # if index 1 is greater than index 3 Python returns empty string

s[3:1:-1] # 4th and 3rd character

'll'

**Standard Input & Output**

In [28]:
# Standard Input
# input() function returns a string
x= input('Enter interger: ')
# convert string to integer, float, etc.
x= int(x)
x= float(x)
x= str(x)

x=int(input('Enter interger: '))

In [37]:
# Standard Output
print('Hello World')
print(x)
print('Hello', x, True, 'bye')
print('Hello', x, True, 'bye', sep='-', end=';')

Hello World
2
Hello 2 True bye
Hello-2-True-bye;

**Exercice**

In [41]:
firstNumber=int(input('Enter first integer: '))
secondNumber=int(input('Enter second integer: '))

print('Sum of', firstNumber, 'and', secondNumber, 'is', firstNumber+secondNumber)
print('Sub of', firstNumber, 'and', secondNumber, 'is', firstNumber-secondNumber)
print('Mul of', firstNumber, 'and', secondNumber, 'is', firstNumber*secondNumber)
print('Div of', firstNumber, 'and', secondNumber, 'is', firstNumber/secondNumber)
print('Mod of', firstNumber, 'and', secondNumber, 'is', firstNumber%secondNumber)
print('Exp of', firstNumber, 'and', secondNumber, 'is', firstNumber**secondNumber)

Sum of 8 and 3 is 11
Sub of 8 and 3 is 5
Mul of 8 and 3 is 24
Div of 8 and 3 is 2.6666666666666665
Mod of 8 and 3 is 2
Exp of 8 and 3 is 512

**Stream Control with if**

In [44]:
number=int(input('Enter first integer: '))
if number > 0:
    print('Number is positive')
elif number < 0:
    print('Number is negative')
else:
    print('Number is zero')

Number is positive

**Excercice**

In [6]:
note=float(input('Enter first integer: '))

if 0 >= note < 10:
    print('Faible')
elif 10 >= note < 12:
    print('Moyen')
elif 12 >= note < 14:
    print('Assez Bien')
elif 14 >= note < 16:
    print('Bien')
elif 16 >= note <= 20:
    print('Excellent')
else:
    print('Invalid number')

Faible

**String Formatting**

In [7]:
name ="Saleh" # string
salary = 1000.465455 # float
age = 30 # integer

message = 'name: Saleh, salary: 1000.455 and age: 30'
print(message)

name: Saleh, salary: 1000.455 and age: 30

% formatting

In [13]:
name ="Saleh" # string
salary = 1000.465455 # float
age = 30 # integer

print('name: %-s, salary: %-10.2f and age: %-5d' % (name, salary, age))

name: Saleh               , salary: 1000.47    and age: 30

string.format() formatting

In [15]:
name ="Saleh" # string
salary = 1000.465455 # float
age = 30 # integer

print('name: {0:<20}, salary: {1:<10.2f} and age: {2:<5d}' .format(name, salary, age))
print('name: {0:>20}, salary: {1:>10.2f} and age: {2:>5d}' .format(name, salary, age))
print('name: {0:^20}, salary: {1:^10.2f} and age: {2:^5d}' .format(name, salary, age))

name: Saleh               , salary: 1000.47    and age: 30
name:                Saleh, salary:    1000.47 and age:    30
name:        Saleh        , salary:  1000.47   and age:  30

format() formatting

In [17]:
name ="Saleh" # string
salary = 1000.465455 # float
age = 30 # integer

format(salary, '^11.2f')

'  1000.47  '

**Calculator**

In [ ]:
firstNumber=float(input('Enter first float: '))
secondNumber=float(input('Enter second float: '))
operator = input('Enter operator: ')

if operator == '+':
    print( firstNumber, "+", secondNumber,"=", firstNumber + secondNumber )
elif operator == '-':
    print( firstNumber, "-", secondNumber,"=", firstNumber - secondNumber )
elif operator == '*':
    print( firstNumber, "*", secondNumber,"=", firstNumber * secondNumber )
elif operator == '/':
    if secondNumber == 0:
        print('Division by zero is not allowed')
    else:   
        print( firstNumber, "/", secondNumber,"=", firstNumber / secondNumber )
elif operator == '%':
    print( firstNumber, "%", secondNumber,"=", firstNumber % secondNumber )
else:
    print('Invalid operator')

**Solution 2**

operator in

In [13]:
1 in [1, 5, 7, 9]

True

In [12]:
firstNumber=float(input('Enter first float: '))
secondNumber=float(input('Enter second float: '))
operator = input('Enter operator: ')

if operator in ['+', '-', '*', '/']:
    print(firstNumber, operator, secondNumber, "= ", eval(str(firstNumber)+operator+str(secondNumber)))
else:
    print(operator + ' is not valid')

<class 'float'>

**Lists**

In [20]:
names=[] # empty list
type(names)

list

In [19]:
len(names)

0

In [32]:
names=['Saleh', 'Ahmed', 'Ali']
len(names)

3

In [24]:
names[1] # second element
names[0:2] # first and second element
names[::-1] # reverse list

['Ahmed']

In [33]:
names.append('Mohamed')

In [27]:
del names[3]

In [34]:
names[1]='Sonia'

In [46]:
products = ['TV', 'Laptop', 'Mobile', 'Tablet']

In [35]:
names1 = names.copy()
names2 = names

['Saleh', 'Sonia', 'Ali', 'Mohamed']

In [38]:
names == names2

True

In [36]:
names2 is names

True

In [37]:
names1 is names

False

**Split & Join**

In [43]:
immat='1234-Tunis-223'
immat.split('-')

['1234', 'Tunis', '223']

In [44]:
"-".join(['1234', 'Tunis', '223'])

'1234-Tunis-223'

**Loops**

For Loop

In [47]:
for product in products : # header for loop
    print(product) # body for loop

TV
Laptop
Mobile
Tablet

In [48]:
for i in range(len(names)):
    print(names[i])

Saleh
Sonia
Ali
Mohamed

**Recap Exercice**

In [36]:
products = ['TV', 'Laptop', 'Mobile', 'Tablet']
pricehts = [1500.551, 2500.545, 3541.541, 451.515]
quantities = [5, 3, 20, 10]
print('{0:<10s}| {1:<10s}| {2:<10s}' .format('product', 'priceht', 'quantity'))
print("-----------------------------------")
for product, priceht, quantity in zip(products, pricehts, quantities):
    print('{0:<10s}| {1:<10.2f}| {2:<10d}' .format(product, priceht, quantity))
    print("-----------------------------------")

product   | priceht   | quantity
-----------------------------------
TV        | 1500.55   | 5
-----------------------------------
Laptop    | 2500.55   | 3
-----------------------------------
Mobile    | 3541.54   | 20
-----------------------------------
Tablet    | 451.51    | 10
-----------------------------------

Correction

In [34]:
products = ['TV', 'Laptop', 'Mobile', 'Tablet']
pricehts = [1500.551, 2500.545, 3541.541, 451.515]
quantities = [5, 3, 20, 10]
print('%-10s | %-10s | %-10s' % ('product', 'priceht', 'quantity'))
print("-----------------------------------")
for product, priceht, quantity in zip(products, pricehts, quantities):
    print('%-10s | %-10.2f | %-10d' % (product, priceht, quantity))
    print("-----------------------------------")

product    | priceht    | quantity
-----------------------------------
TV         | 1500.55    | 5
-----------------------------------
Laptop     | 2500.55    | 3
-----------------------------------
Mobile     | 3541.54    | 20
-----------------------------------
Tablet     | 451.51     | 10
-----------------------------------

Solution 2

In [37]:
print('%-10s | %-10s | %-10s' % ('product', 'priceht', 'quantity'))
print("-----------------------------------")
for i in range(len(products)):
    print('%-10s | %-10.2f | %-10d' % (products[i], pricehts[i], quantities[i]))
    print("-----------------------------------")

product    | priceht    | quantity
-----------------------------------
TV         | 1500.55    | 5
-----------------------------------
Laptop     | 2500.55    | 3
-----------------------------------
Mobile     | 3541.54    | 20
-----------------------------------
Tablet     | 451.51     | 10
-----------------------------------