While Loop

In [2]:
products = ['TV', 'Laptop', 'Mobile', 'Tablet']
i=0
while i<len(products):
    print(products[i])
    i+=1

TV
Laptop
Mobile
Tablet

Input Control

In [1]:
names=[]
test = True
while test:
    name = input("Enter name:")
    if name =='quit':
        test = False
    else:
        names.append(name)

In [2]:
names

['Melek']

Pass & Break

In [12]:
for i in range(10):
    if i == 5:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

**Functions**

In [18]:
def add(num1, num2):
    return num1+num2

print(add(10,20))

30

In [20]:
add(num2=10, num1=20)

30

In [25]:
def calculate_puttc(puht, tva=0.1):
    return puht*(1+tva)

calculate_puttc(tva=0.2, puht=100)

120.0

In [26]:
calculate_puttc(puht=100)

110.00000000000001

In [30]:
def calcul_prod_sum(num1, num2):
    sum=num1+num2
    prod=num1*num2
    return sum, prod

(30, 200)

Local variables vs Global variables

In [31]:
tva = 0.2 # global variable
def calculate_puttc(puht):
    return puht*(1+tva) # tva is a global variable
    # a global variable is accessible from anywhere in the program

calculate_puttc(100)

120.0

In [32]:
tva = 0.2 # global variable
def calculate_puttc(puht):
    tva = 0.1 # local variable
    return puht*(1+tva) # tva is a global variable
    # a global variable is accessible from anywhere in the program

calculate_puttc(100)

110.00000000000001

In [33]:
tva

0.2

In [34]:
tva = 0.2 # global variable
def calculate_puttc(puht):
    global tva # global variable
    tva = 0.1 # tva is a global variable
    return puht*(1+tva) # tva is a global variable
    # a global variable is accessible from anywhere in the program

calculate_puttc(100)

110.00000000000001

In [35]:
tva

0.1

**Data Structures: Dictionary, Sets, Tuples**

Dictionary

In [ ]:
names=['Ali', 'Rahma', 'Salah']
notes=[12.65, 15.5, 10.5]

In [36]:
notes={'Ali':12.65, 'Rahma':15.5, 'Salah':10.5} # dictionary

In [37]:
notes['Ali'] # the value of the key 'Ali' is 12.65

12.65

In [38]:
notes

{'Ali': 12.65, 'Rahma': 15.5, 'Salah': 10.5}

In [8]:
notes['Sonia']=12.5

In [9]:
notes

{'Ali': 12.65, 'Rahma': 15.5, 'Salah': 10.5, 'Sonia': 12.5}

In [39]:
for note in notes:
    print(note)

Ali
Rahma
Salah

In [15]:
notes.keys()

dict_keys(['Ali', 'Rahma', 'Salah', 'Sonia'])

In [16]:
notes.values()

dict_values([12.65, 15.5, 10.5, 12.5])

In [17]:
notes.items()

dict_items([('Ali', 12.65), ('Rahma', 15.5), ('Salah', 10.5), ('Sonia', 12.5)])

In [40]:
for name, note in notes.items():
    print(name, note)

Ali 12.65
Rahma 15.5
Salah 10.5

In [20]:
del notes['Ali']

In [21]:
notes

{'Rahma': 15.5, 'Salah': 10.5, 'Sonia': 12.5}

In [22]:
len(notes)

3

Tuples

In [23]:
names=('Ali', 'Rahma', 'Salah') # tuple

In [26]:
names[0]

'Ali'

In [27]:
names[-1]

'Salah'

In [28]:
del names[0]

TypeError: 'tuple' object doesn't support item deletion

Sets

In [29]:
S={10,2,3,10,2}

In [30]:
len(S) # len is 3 because 10 and 2 are repeated

3

In [31]:
S.add(4)

In [32]:
S

{2, 3, 4, 10}

In [33]:
4 in S

True

In [34]:
5 in S

False

**Exercice**

In [49]:
products = {'TV':1500.5156, 'Laptop':2000.789, 'Mobile':700.59, 'Tablet':1000.875}

product = input("Enter product name:")
if product in products:
    for key, value in products.items():
        if key == product:
            print(key, value)
            break
else:
    print("Product not found")

Tablet 1000.875

**Exercice**

In [23]:
products = []
pricehts = []
quantities = []
tva=0.1

In [28]:
# product_input function that takes the product name, priceht and quantity from the user and stops when the user enters 'quit'
def product_input():
    test = True
    while test:
        product_name = input("Enter product name:")
        if product_name =='quit':
            test = False
        else:
            products.append(product_name)
            priceht = float(input("Enter priceht:"))
            pricehts.append(priceht)
            quantity = int(input("Enter quantity:"))
            quantities.append(quantity)

In [65]:
def product_display():        
    print('%-10s | %-10s | %-10s' % ('product', 'priceht', 'quantity'))
    print("-----------------------------------")
    for product, priceht, quantity in zip(products, pricehts, quantities):
        print('%-10s | %-10.2f | %-5d' % (product, priceht, quantity))
        print("-----------------------------------")

product_display()

product    | priceht    | quantity
-----------------------------------
TV         | 1546.54    | 8
-----------------------------------
Laptop     | 2200.70    | 10
-----------------------------------
Mobile     | 750.89     | 60
-----------------------------------

In [59]:
puttcs=[]

def calcul_pricettc(pricehts):
    for i in range(products):
        puttc=pricehts*(1+tva)
        puttcs.append(puttc)


montants=[]

def calcul_montant_produit(puttc, quantitie):
    for i in range(products):
        montant= puttc*quantitie
        montants.append(montant)

In [61]:
max_montant=montants[0]
max_indice=0
for i in range(1, len(products)):
    if montants[i]>max_montant:
        max_montant=montants[i]
        max_indice=i
print(products[max_indice])

IndexError: list index out of range

**Dates**

In [67]:
import datetime # import datetime module

datetime.datetime(2012, 12, 21)

datetime.datetime(2012, 12, 21, 0, 0)