In [15]:
s = "hello"

s[:3]

'hel'

In [25]:
name ="Saleh" # string
salary = 1000.465455 # float
age = 30 # integer



print('name: %-s, salary: %-10.2f and age: %-5d' % (name, salary, age))
print('name: {0:<20s}, salary: {1:<10.2f} and age: {2:<5d}' .format(name, salary, age))
print('name: {0:>20s}, salary: {1:>10.2f} and age: {2:>5d}' .format(name, salary, age))
print('name: {0:^20s}, salary: {1:^10.2f} and age: {2:^5d}' .format(name, salary, age))
format(salary, '^11.2f')
print(f'name {name}, salary {salary} age {age}')

name Saleh, salary 1000.465455 age 30

In [18]:
x= int(input('Enter interger: '))

type(x)

int

In [29]:
names=['Saleh', 'Ahmed', 'Ali', 'Monji', 'Walid']

names.append('Hassan')

In [31]:
del names[3]

names

['Saleh', 'Ahmed', 'Ali', 'Walid', 'Hassan']

In [37]:
def get_rating(age):
    rating = ""
    if age == None: rating = "C"
    elif age < 13: rating = "C"
    elif age < 18: rating = "T"
    else: rating = "A"
    return rating

get_rating(13)

'T'

In [38]:
p = 2
while p <= 100:
    is_prime = True
    for i in range(2, p):
        if p % i == 0:
            is_prime = False
            break
    if is_prime:
        print(p)
    p += 1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [44]:
x1 = "20"
y1 = 3
a = x1 * y1

type(a)

str

In [49]:
numList = [1,2,3,4,5]
alphaList = ['a','b','c','d','e']

numList = alphaList
print(numList is alphaList)
numList

True

['a', 'b', 'c', 'd', 'e']

In [60]:
from math import fabs, floor, ceil

fabs(-10)
floor(10.9)
ceil(10.1)

11

In [5]:
def increment_score(score, bonus, points):
    if bonus == True:
        points = points * 2
    score = score + points
    return score

points = 5
score = 10
new_score = increment_score(score, True)
type(points)

TypeError: increment_score() missing 1 required positional argument: 'points'

In [5]:
colors = ['red', 'green', 'blue', 'yellow', 'orange', 'purple', 'brown']
colors[1::2]

['green', 'yellow', 'purple']

In [7]:
listnum = [1,2,3,4]
print(5 in listnum)

False